.recipePreviewContainer {
  border: 0.2vw solid #a8a8a8;
  background-color: #bebebe;
  width: 100%;
  min-width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #000000;
  overflow: hidden;
  align-self: center;
  justify-content: space-between;
}

.recipePreviewImageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  flex-shrink: 0;
  border: 0.2vw solid #000000;
}

.recipePreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
}

.recipePreviewTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipePreviewName {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: #000000;
  word-wrap: break-word;
}

.recipePreviewDescription {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  color: #000000;
}

.recipePreviewTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .recipePreviewContainer {
    max-width: 500px;
    width: 100%;
    margin-top: 2rem;
  }
  .recipePreviewImageWrapper {
    align-self: center;
  }
}

@media (max-width: 820px) {
  .recipePreviewContainer {
    max-width: 500px;
  }
}
