.home {
  font-family: 'Days One', sans-serif;
  background-color: #c2cad0;
  min-height: 100vh;
  padding-bottom: 0;
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3vw;
  margin-top: 3vh;
}

.homeTitle {
  font-size: clamp(2.5rem, 5vw, 5rem);
  color: #000000;
  margin-bottom: 2rem;
  font-weight: bold;
}

.homeDescription {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  color: #000000;
  margin-bottom: 3rem;
  width: 80%;
}

.homeInstructions {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #000000;
  width: 80%;
  margin-bottom: 1rem;
}

.homeCarousel {
  margin: 1rem auto;
  padding: 0 2rem;
}

.carouselTitle {
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  color: #000000;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.carouselItem {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: stretch;
}

.carouselItem:hover {
  transform: translateY(-5px);
}

.slick-dots {
  margin-top: 0.5rem;
}

.slick-slide {
  padding: 0;
  display: flex !important;
  height: auto !important;
  margin-bottom: 2rem;
}

.slick-track {
  display: flex !important;
}

.slick-dots li button:before {
  color: #7e685a;
}

.slick-prev:before,
.slick-next:before {
  color: #7e685a;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #bebebe;
  padding: 2rem;
  border-radius: 8px;
  width: 60%;
  max-width: 800px;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: #6f6f6f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.closeButton:hover {
  background-color: #8a8a8a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.closeButton:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .homeTitle {
    font-size: clamp(2rem, 4vw, 4rem);
  }

  .homeDescription,
  .homeInstructions {
    font-size: clamp(1rem, 3vw, 1.3rem);
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }

  .homeCarousel {
    padding: 0 1rem;
  }

  .carouselItem {
    padding: 1rem;
  }

  .modalContent {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .homeTitle {
    font-size: clamp(2rem, 5vw, 3.5rem);
  }

  .homeDescription,
  .homeInstructions {
    font-size: 1.2rem;
  }
}
