.headerText {
  color: #000000;
  font-size: clamp(2.6rem, 3.5vw, 3rem);
  text-align: left;
  margin: auto 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerContainer {
  background-color: #a7a7a7;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding-left: 1vw;
  padding-right: 1vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.headerImage {
  width: clamp(40px, 6vw, 80px);
  height: auto;
  margin-right: 3%;
  object-fit: contain;
}

.headerButtonContainer {
  display: flex;
  flex-direction: row;
  min-width: 40%;
  justify-content: flex-end;
  gap: 0.5rem;
}

@media (max-width: 500px) {
  .headerText {
    font-size: 5.5vw;
  }

  .headerButtonContainer {
    min-width: 45%;
  }

  .headerImage {
    width: 12vw;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
  }

  .headerButtonContainer {
    min-width: 60%;
    justify-content: center;
  }

  .headerText {
    text-align: center;
  }
}
