.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.constructorButton {
  background-color: #a7a7a7;
  color: #000000;
  font-size: clamp(1.2rem, 2vw, 2rem);
  padding: 1.2rem 2.5rem;
  border: none;
  border-radius: 3vw;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  text-align: center;
  display: inline-block;
  line-height: 1.2;
  font-weight: bold;
}

.constructorButton:hover {
  background-color: #8a8a8a;
  transform: scale(1.05);
}

.constructorButton:active {
  transform: scale(1);
}

.constructorButton:focus {
  outline: none;
}
